<div class="combo-box-ctrl">
    <div class="combo-input">
        <input type="text" />
        <div class="drop-down-btn" (click)="open_close_combo()">[&#8681;]</div>
    </div>
    <div class="combo-table">
        <table *ngIf="Model" [@OpenCloseCombo]="is_open">
            <thead></thead>
            <tbody>
                <tr *ngFor="let item of Model.Items" (click)="item_selected(item.Id)">
                    <td *ngFor="let column of item.Columns">{{column}}</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <span *ngIf="!Model" class="null-model-info">NULL</span>
    </div>
</div>