<div class="form-test">
    <h1>Form test</h1>
    <form crb-form #testForm="ngForm" (ngSubmit)="on_form_submit(testForm)">
        <div class="row">
            <label>First name:</label>
            <input #hashfirst [(ngModel)]="model.firstname" name="firstCtrl"/>
        </div>
        <div class="row">
            <label>Last name:</label>
            <input #hashlast [(ngModel)]="model.lastname" (change)="on_last_name_change(hashlast)" name="lastCtrl"/>
        </div>
        <div class="row">
            <label>Text box:</label>
            <text-box-ctrl [(value)]="model.text" #TextBox name="TextBox"></text-box-ctrl>
        </div>
        <div class="row">
            <div class="buttons">
                <button (click)="on_submit(testForm)">submit</button>
                <button type="submit">test submit</button>
            </div>
        </div>
    </form>
</div>