<div class="notification">
    <div>
        <div class="header">Test header</div>
        <div class="content">
            test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content test content 
        </div>
    </div>
</div>