<div class="person-list">
    <table class="light-grid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of ModelPersonList" (click)="PersonSelected(person)" class="clickable">
                <td>{{person.NAME}}</td>
                <td>{{person.SURNAME}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <back-button></back-button>
    </div>
    <h1>{{ErrorMessage}}</h1>
</div>