<div class="person-add">
    <div class="column">
        <div class="row">
            <label>Name</label>
            <input [(ngModel)]="Model.NAME" placeholder="NAME"/>
        </div>
        <div class="row">
            <label>Surname</label>
            <input [(ngModel)]="Model.SURNAME" placeholder="SURNAME"/>
        </div>
        <div class="row">
            <label>Combo test:</label>
            <light-combo-box-ctrl [(Model)]="combo_model" [AddEmptyRow]="true"></light-combo-box-ctrl>
        </div>
        <div class="row">
            <button (click)="AddNewPerson()">Add new person</button>
            <button (click)="TextBoxTest()">Text-Box Test</button>
        </div>
        <div class="row">
            <back-button></back-button>
        </div>
    </div>
</div>