body {
    font-family: Calibri, Verdana;
}

table.light-grid tr.clickable {
    cursor: pointer;
}

div.notification {
    max-width: 400px;
    position: fixed;
    top: 5%;
    left: 35%;
    background-color: rgba(254, 210, 0, 0.75);
    padding: 20px 10px 20px 10px;
}

    div.notification div.header {
        font-size: larger;
        font-weight: bolder;
        display: inline-block;
        width: 90%;
    }

    div.notification div.close-btn {
        background-image: url("../graphics/quit_x_opacity_small.png");
        width: 17px;
        height: 17px;
        display: inline-block;
        cursor: pointer;
    }

div.confirm-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

    div.confirm-popup div.popup-content {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }