:root {
    --crb-gold: rgb(254, 210, 0);
}

body {
    font-family: Calibri, Verdana;
    background-color: rgb(77, 77, 77);
    margin: 0px;
}

div.app-main-section {
    display: flex;     
    margin: 2px;  
}

div.top-panel {
    padding: 20px 8px 20px 8px;
    background-color: white;
    margin: 2px;
}

menu {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding: 20px 8px 20px 8px;
    min-width: 150px;
    width: 18%;
    display: inline-block;
    background-color: white;
    list-style-type: none;
    min-height: 300px;
    margin-right: 1px;
}

.menu-item {
    /*height: 38px;*/
    background-color: rgb(100, 100, 100);
}

    .menu-item:hover {
        background-color: white;
    }

    .menu-item a {
        color: white;
        text-decoration: none;
        font-size: xx-large;
        display: block;
        padding: 2px 20px 2px 20px;
        border-bottom: 2px solid rgb(100, 100, 100);
    }

        .menu-item a:hover {
            color: rgb(100, 100, 100);
            border-bottom: 2px solid var(--crb-gold);
        }

div.profile div.buttons {
    font-weight: bolder;
}

    div.profile div.buttons span {
        padding: 5px 25px 5px 25px;
        cursor: pointer;
    }

div.profile div.profile-info div.avatar {

}

    div.profile div.profile-info div.avatar img {
        max-width: 50px;
        max-height: 50px;
    }

div.app-content {
    padding: 20px 8px 20px 8px;
    display: inline-block;
    background-color: white;
    min-height: 300px;
    width: 84%;
    margin-left: 1px;
}

table.light-grid tr.clickable {
    cursor: pointer;
}

div.notification {
    max-width: 400px;
    position: fixed;
    top: 5%;
    left: 35%;
    background-color: rgba(254, 210, 0, 0.75);
    padding: 20px 10px 20px 10px;
}

    div.notification div.header {
        font-size: larger;
        font-weight: bolder;
        display: inline-block;
        width: 90%;
    }

    div.notification div.close-btn {
        background-image: url("../graphics/quit_x_opacity_small.png");
        width: 17px;
        height: 17px;
        display: inline-block;
        cursor: pointer;
    }

div.confirm-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

    div.confirm-popup div.popup-content {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }

div.row {
    padding: 3px 10px 3px 10px;
}

    div.row label {
        display: inline-block;
        width: 120px;
        text-align: right;
        padding-right: 10px;
        padding-left: 10px;
    }

    div.row input {
        display: inline-block;
        width: 150px;
    }

    div.row div.buttons {
        margin-left: 144px;
    }

div.combo-box-ctrl div.drop-down-btn {
    display: inline;
    cursor: pointer;
}

div.combo-table tr {
    cursor: pointer;
}

    div.combo-table tr td {
        border-bottom: 1px solid silver;
    }

    div.combo-table tr:hover td {
        background-color: lightgrey;
        border-bottom: 1px solid var(--crb-gold)
    }
